	<ion-view id="myStart">
		<ion-slide-box >

			<ion-slide >
			<div class="assertive-bg">111</div>
			</ion-slide>
			<ion-slide>
			<div class="calm-bg">222</div>
			</ion-slide>
			<ion-slide>
			<div class="positive-bg">333
				<a class="button button-block" ui-sref="tabs.tab1">开始体验</a>

			</div>

			
			</ion-slide>

		</ion-slide-box>
		
		<style>
			#myStart .slider{
				height: 100%;
			}

			#myStart ion-slide div {
				height: 100%;
				padding: 100px;
				text-align: center;
			}

		</style>	

	</ion-view>

